In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
data_yelp=pd.read_csv('yelp_labelled.txt', sep='\t',header=None)

In [3]:
data_yelp.head()
# review and sentiment
# 0-Negative, 1-Positive for positive review

                                                   0  1
0                           Wow... Loved this place.  1
1                                 Crust is not good.  0
2          Not tasty and the texture was just nasty.  0
3  Stopped by during the late May bank holiday of...  1
4  The selection on the menu was great and so wer...  1

In [4]:
#assign column name
column_name=['Review','Sentiment']
data_yelp.columns=column_name

In [5]:
data_yelp.head()

                                              Review  Sentiment
0                           Wow... Loved this place.          1
1                                 Crust is not good.          0
2          Not tasty and the texture was just nasty.          0
3  Stopped by during the late May bank holiday of...          1
4  The selection on the menu was great and so wer...          1

In [6]:
data_yelp.shape
# 1000 rows(reviews), 2 columns(sentiments)

(1000, 2)

In [7]:
data_amazon=pd.read_csv('amazon_cells_labelled.txt',sep='\t',header=None)

In [8]:
data_amazon.head()

                                                   0  1
0  So there is no way for me to plug it in here i...  0
1                        Good case, Excellent value.  1
2                             Great for the jawbone.  1
3  Tied to charger for conversations lasting more...  0
4                                  The mic is great.  1

In [9]:
data_amazon.columns=column_name

In [10]:
data_amazon.head()

                                              Review  Sentiment
0  So there is no way for me to plug it in here i...          0
1                        Good case, Excellent value.          1
2                             Great for the jawbone.          1
3  Tied to charger for conversations lasting more...          0
4                                  The mic is great.          1

In [11]:
data_imdb=pd.read_csv('/content/imdb_labelled.txt',sep='\t',header=None)

In [12]:
data_imdb.head()

                                                   0  1
0  A very, very, very slow-moving, aimless movie ...  0
1  Not sure who was more lost - the flat characte...  0
2  Attempting artiness with black & white and cle...  0
3       Very little music or anything to speak of.    0
4  The best scene in the movie was when Gerardo i...  1

In [13]:
data_imdb.columns=column_name

In [14]:
data_imdb.shape

(748, 2)

In [15]:
#append all the data in a single dataframe
data=data_yelp.append([data_amazon,data_imdb],ignore_index= True)

In [16]:
data.shape

(2748, 2)

In [17]:
data.head()

                                              Review  Sentiment
0                           Wow... Loved this place.          1
1                                 Crust is not good.          0
2          Not tasty and the texture was just nasty.          0
3  Stopped by during the late May bank holiday of...          1
4  The selection on the menu was great and so wer...          1

In [18]:
  #check distribution of sentiments

In [19]:
data['Sentiment'].value_counts()

1    1386
0    1362
Name: Sentiment, dtype: int64

In [20]:
data.head()

                                              Review  Sentiment
0                           Wow... Loved this place.          1
1                                 Crust is not good.          0
2          Not tasty and the texture was just nasty.          0
3  Stopped by during the late May bank holiday of...          1
4  The selection on the menu was great and so wer...          1

In [21]:
#check for null values

In [22]:
#check for null values
data.isnull().sum()

# no null values in the data

Review       0
Sentiment    0
dtype: int64

In [23]:
x=data['Review']
y=data['Sentiment']

#2) Data Cleaning

In [24]:
# here we will  remove stopwords, punctuations
# as well as we will apply lemmatization

#Create a function to clean the data

In [25]:
import string

In [26]:
punct=string.punctuation

In [27]:
punct

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [28]:
from spacy.lang.en.stop_words import STOP_WORDS

In [29]:
stopwords=list(STOP_WORDS)

In [30]:
stopwords

['five',
 'third',
 'more',
 'top',
 'he',
 'though',
 'go',
 're',
 'eight',
 'although',
 'been',
 'or',
 'often',
 'one',
 'various',
 'which',
 'onto',
 'could',
 'around',
 'across',
 'what',
 'wherein',
 'between',
 'perhaps',
 'against',
 'yourself',
 'upon',
 'sixty',
 'their',
 'give',
 'some',
 'thru',
 'become',
 'keep',
 'other',
 'whereby',
 'moreover',
 'beyond',
 'anyway',
 '‘d',
 'will',
 'yours',
 'have',
 'either',
 'towards',
 'too',
 'others',
 'them',
 'amount',
 'under',
 'afterwards',
 'his',
 'off',
 'had',
 'such',
 'not',
 'any',
 "'ve",
 'still',
 'everything',
 'no',
 'above',
 'becoming',
 'mostly',
 'two',
 '’d',
 "'ll",
 '’re',
 'among',
 'themselves',
 'may',
 'otherwise',
 'always',
 'on',
 'own',
 'both',
 'anywhere',
 'eleven',
 'why',
 'thereafter',
 "n't",
 'hereupon',
 'who',
 '‘s',
 'first',
 'its',
 'unless',
 'has',
 'all',
 'many',
 'most',
 'side',
 'however',
 'whereas',
 'would',
 'became',
 "'m",
 'put',
 'until',
 'whom',
 'get',
 'mine',
 'never',
 'another',
 'twelve',
 'whether',
 'much',
 'rather',
 'done',
 'every',
 'am',
 'show',
 'nowhere',
 'whoever',
 'if',
 'these',
 'used',
 'doing',
 'next',
 'even',
 'within',
 'n’t',
 'ourselves',
 'this',
 'serious',
 'before',
 'they',
 'is',
 'due',
 'latterly',
 'name',
 'yourselves',
 'my',
 'hundred',
 'did',
 '’m',
 'former',
 'toward',
 'else',
 'without',
 'several',
 'namely',
 'down',
 'front',
 'only',
 'being',
 '‘re',
 'less',
 'enough',
 'therefore',
 'also',
 'thus',
 'noone',
 'thereupon',
 'while',
 'anyhow',
 'elsewhere',
 'herself',
 'by',
 'himself',
 'make',
 "'s",
 "'d",
 'behind',
 'in',
 'hence',
 'very',
 'see',
 'herein',
 'indeed',
 'the',
 'must',
 'seeming',
 'further',
 'as',
 'out',
 'through',
 '’s',
 'should',
 'neither',
 'anything',
 'beside',
 'yet',
 'quite',
 'when',
 'made',
 'almost',
 'fifty',
 'anyone',
 'latter',
 'him',
 'well',
 'our',
 'everywhere',
 'whenever',
 'does',
 'someone',
 'each',
 'wherever',
 'those',
 'together',
 'your',
 'up',
 'just',
 'since',
 'regarding',
 'she',
 'call',
 'we',
 'because',
 'are',
 'with',
 "'re",
 'seem',
 'nothing',
 'her',
 'whole',
 'whose',
 'again',
 'whereupon',
 'and',
 'here',
 'whence',
 'move',
 'me',
 'fifteen',
 'sometime',
 'whereafter',
 'beforehand',
 'seemed',
 'nor',
 'except',
 'please',
 'below',
 'to',
 'during',
 'after',
 'thence',
 'ca',
 'thereby',
 'hers',
 'might',
 'nevertheless',
 'ever',
 'whatever',
 'be',
 'meanwhile',
 'part',
 'therein',
 'once',
 'now',
 'there',
 'last',
 'cannot',
 'were',
 'about',
 'n‘t',
 'using',
 'none',
 'already',
 'hereby',
 'then',
 'empty',
 'ten',
 'seems',
 '’ll',
 'sometimes',
 'everyone',
 'something',
 'alone',
 'i',
 '‘ll',
 'amongst',
 'twenty',
 'myself',
 'least',
 'where',
 'nine',
 'along',
 'was',
 'us',
 'at',
 'into',
 'whither',
 'for',
 'from',
 '’ve',
 'forty',
 'hereafter',
 'three',
 'do',
 'somehow',
 '‘ve',
 'via',
 'same',
 'few',
 'ours',
 'how',
 'over',
 'six',
 'besides',
 'you',
 'back',
 'nobody',
 'formerly',
 'so',
 'per',
 'can',
 'throughout',
 'itself',
 'really',
 'than',
 'but',
 'becomes',
 'of',
 'say',
 'an',
 'take',
 '‘m',
 'bottom',
 'four',
 'that',
 'it',
 'somewhere',
 'full',
 'a']

In [31]:
#creating a function for data cleaning

In [43]:
import spacy

nlp=spacy.load('en_core_web_sm')
def text_data_cleaning(sentence):
  doc=nlp(sentence)

  tokens=[] #list of tokens
  for token in doc:
    if token.lemma_ !="-PRON-":
      temp=token.lemma_.lower().strip()
    else:
      temp= token.lower_
    tokens.append(temp)

  cleaned_tokens= []
  for token in tokens:
    if token not in stopwords and token not in punct:
      cleaned_tokens.append(token)
  return cleaned_tokens

In [44]:
# if root form of that word is not pronoun then it is going to convert that into lower form
# and if that stop word is a proper noun, then we are directly taking lower form, because there is no lemma function

In [45]:
text_data_cleaning("Hello all, It's a beautiful day outside there!")
#stopwords and punctuations removed

['hello', 'beautiful', 'day', 'outside']

## Vectorization Feature Engineering(TF-IDF)

In [46]:
from sklearn.svm import LinearSVC
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.pipeline import Pipeline

In [47]:
tfidf= TfidfVectorizer(tokenizer= text_data_cleaning)
# tokenizer = text_data_cleaning, tokenization will de done acc to this function

In [48]:
classifier= LinearSVC()

#Train the model

In [49]:
from sklearn.model_selection import train_test_split
x_train, x_test,y_train,y_test= train_test_split(x,y,test_size= 0.2, random_state= 0)

In [52]:
x_train.shape, x_test.shape
#2198-training, 550-test

((2198,), (550,))

In [53]:
x_train.head()

2572    An Italian reviewer called this "a small, grea...
526                          And it was way to expensive.
1509    As an earlier review noted, plug in this charg...
144     Nice blanket of moz over top but i feel like t...
2483    The film gives meaning to the phrase, "Never i...
Name: Review, dtype: object

#Fit x_train and y_train

In [54]:
clf= Pipeline([('tfidf',tfidf),('clf',classifier)])
#it will first do vectorization and then it will do classification

In [55]:
clf.fit(x_train,y_train)

Pipeline(steps=[('tfidf',
                 TfidfVectorizer(tokenizer=<function text_data_cleaning at 0x7f215d86ca70>)),
                ('clf', LinearSVC())])

#predict test set results

In [56]:
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix

In [57]:
y_pred=  clf.predict(x_test)

In [58]:
#confusion matrix
confusion_matrix(y_test,y_pred)

array([[201,  78],
       [ 50, 221]])

In [59]:
#classification report
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

           0       0.80      0.72      0.76       279
           1       0.74      0.82      0.78       271

    accuracy                           0.77       550
   macro avg       0.77      0.77      0.77       550
weighted avg       0.77      0.77      0.77       550

In [60]:
accuracy_score(y_test,y_pred)

0.7672727272727272

In [62]:
clf.predict(['Wow, I am learning Natural Language Processing in fun fashion!'])
#output is 1 which means review is positive

array([1])

In [63]:
clf.predict(['It is hard to learn new things'])

array([0])